

body{
  background:#fefefe;
  color: #fff;
}
.container {
  font-family: helvetica, sans-serif;
  margin: 0 auto;
  height: 620px;
  /*background: #232323;*/
  background:#90112F;

}
.header{
  background: #DCE5EA;
}

h1 {
  font-family: 'Londrina Shadow', cursive;
  text-align: center;
  font-size: 75px;
  margin: 60px 0 0 0;
}
#banner{
  margin: 20px auto;
  padding: 20px;
  width: 960px;
  background: #474C8D;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  border-radius: 5px;
  font-family: cursive, calibri;
}
.content {
  text-align: center;
  margin: 0px 0 70px 0;
}
p {
  font-family: cursive, calibri;
  line-height: 28px;
  text-align: center;
  margin: 0;

}
button{
  background: #1594e5;
  color: #fff;
  font-family: sans-serif;
  display: block;
  width: 200px;
  font-size: 24px;
  padding: 3px;
  border-radius: 5px;
  margin: 20px auto;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
